*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}
* {
	--bg-color-dark: #1a1a1a;
	--font-color-1-dark: #fff;
	--font-color-2-dark: #679cdf;
	--font-color-1-transparent-dark: #ffffff99;
}

html,
body {
	height: 100%;
	background-color: var(--bg-color-dark);
	color: var(--font-color-1-dark);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.layout-main {
	flex: 1 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 860px;
	max-width: 100%;
	padding-inline: 1rem;
}

footer {
	margin-top: auto;
	width: 860px;
	max-width: 100%;
	padding-inline: 1rem;
}
