*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}
:root {
	--bg-color: #1a1a1a;
	--font-color-1: #fff;
	--font-color-2: #679cdf;
	--font-color-1-transparent: #ffffff99;
	--hover-background: #ffffff33;
	--box-shadow-color: #ffffff4d;

	--width: 860px;
	/* Open Props easing */
	--ease-3: cubic-bezier(0.25, 0, 0.3, 1);
	--ease-out-5: cubic-bezier(0, 0, 0, 1);
	--ease-elastic-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
	--ease-elastic-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
}

html,
body {
	height: 100%;
	background-color: var(--bg-color);
	color: var(--font-color-1);
}
html {
	color-scheme: light;
}

html[data-theme="dark"] {
	color-scheme: dark;
}
@supports not (color-scheme: dark) {
	html[data-theme="dark"] {
		background: #111;
	}
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Overpass", sans-serif;
}

/* Header Styles */

.layout-header {
	max-width: 100%;
	width: var(--width);
	margin-top: calc(1em + 16px);
}
.navbar {
	width: 100%;
}
.navbar-list {
	list-style-type: none;
	display: flex;
	justify-content: flex-end; /* Links are right-aligned */
	align-items: baseline; /* Theme change icon lines up with other links */
	gap: 4rem;
}
.navbar-item:last-of-type {
	margin-right: 16px;
}
.navbar-link {
	text-decoration: none;
	font-size: 1.5rem;
	color: var(--font-color-1);
	position: relative;
}
.navbar-link::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	background-color: var(--font-color-2);
	height: 4px;
	bottom: -4px;
	left: 0;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.navbar-link:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* Main Content Styles */

.layout-main {
	flex: 1 1;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: var(--width);
	max-width: 100%;
	padding-inline: 1rem;
}

.content-container {
	min-width: 100%;
	min-height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.content-name {
	color: var(--font-color-2);
	font-size: 2.8125rem;
}
.content-profession {
	font-size: 3.375rem;
}
.content-description {
	color: var(--font-color-1-transparent);
	font-size: 2.25rem;
	margin-block: 32px;
}

.social-links {
	display: flex;
	gap: 16px;
	margin: -8px;
}

.social-links a {
	display: flex;
	margin: 2px;
	padding: 12px;
	border-radius: 16px;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

.social-links a:hover,
.social-links a:focus {
	background-color: var(--hover-background);
	box-shadow: 0 0 15px var(--box-shadow-color);
	transition-timing-function: ease-out;
}

.social-links img {
	height: 2.5rem;
	width: 2.5rem;
}
.github-link-svg {
	width: 2.5rem;
	height: 2.5rem;
}
.path1 {
	fill: var(--bg-color);
}
.path2 {
	fill: var(--font-color-1);
}

/* Footer Styles */
footer {
	margin-top: auto;
	width: var(--width);
	max-width: 100%;
	padding-inline: 1rem;
}
.footer-address {
	display: flex;
	flex-direction: column;
	height: 80px;
	justify-content: space-around;
	border-top: 1px solid#262626;
}

.footer-address a {
	text-decoration: none; /* Remove Underline */
	max-width: fit-content; /* Only take up content width in inline direction */
}

.address-email {
	font-style: normal; /* Remove Italic Text */
	color: var(--font-color-1);
	font-size: 1.125rem;
}
.address-location {
	font-size: 0.9rem;
	font-style: italic;
	color: var(--font-color-1-transparent);
}

/* Theme Change Button */
[data-theme="light"] {
	--bg-color: #fff;
	--font-color-1: #1a1a1a;
	--font-color-2: #0953b4;
	--font-color-1-transparent: #1a1a1a99;
	--hover-background: #1a1a1a33;
	--box-shadow-color: #1a1a1a4d;
}
[data-theme="dark"] .theme-toggle {
	--icon-fill: hsl(210 10% 70%);
	--icon-fill-hover: hsl(210 15% 90%);
}

@media (hover: none) {
	.theme-toggle {
		--size: 48px;
	}
}

.theme-toggle {
	--size: 2rem;
	--icon-fill: hsl(210 10% 30%);
	--icon-fill-hover: hsl(210 10% 15%);

	background: none;
	border: none;
	padding: 0;

	inline-size: var(--size);
	block-size: var(--size);
	aspect-ratio: 1;
	border-radius: 50%;

	cursor: pointer;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;

	outline-offset: 5px;
}

.theme-toggle > svg {
	inline-size: 100%;
	block-size: 100%;
	stroke-linecap: round;
}

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
	transform-origin: center center;
}

.sun-and-moon > :is(.moon, .sun) {
	fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
	fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
	stroke: var(--icon-fill);
	stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
	stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
	transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
	opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
	transform: translateX(-7px);
}

@supports (cx: 1) {
	[data-theme="dark"] .sun-and-moon > .moon > circle {
		transform: translateX(0);
		cx: 17;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.sun-and-moon > .sun {
		transition: transform 0.5s var(--ease-elastic-3);
	}

	.sun-and-moon > .sun-beams {
		transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
	}

	.sun-and-moon .moon > circle {
		transition: transform 0.25s var(--ease-out-5);
	}

	@supports (cx: 1) {
		.sun-and-moon .moon > circle {
			transition: cx 0.25s var(--ease-out-5);
		}
	}
	[data-theme="dark"] .sun-and-moon > .sun {
		transform: scale(1.75);
		transition-timing-function: var(--ease-3);
		transition-duration: 0.25s;
	}

	[data-theme="dark"] .sun-and-moon > .sun-beams {
		transform: rotateZ(-25deg);
		transition-duration: 0.15s;
	}

	[data-theme="dark"] .sun-and-moon > .moon > circle {
		transition-delay: 0.25s;
		transition-duration: 0.5s;
	}
}
